@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255;
  --background-bg: 0, 0, 0;
  --scroll-rgb: 34, 34, 34
}

#root {
  color: rgb(var(--color-rgb));
  background-color: rgb(var(--background-bg));
}

::-webkit-scrollbar, .dark {
  width: .5rem;
  height: .5rem;
  cursor: pointer;
}
::-webkit-scrollbar-track, .dark {
  background-color: transparent;
}
::-webkit-scrollbar-thumb, .dark {
  width: .5rem;
  height: .5rem;
  border-radius: 9999px;
  background-color: rgb(var(--scroll-rgb));
}

.body_wrapper {
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
}
.upload_sidebar {
  height: calc(100% - (64px + 37px));
}
.content_wrapper {
  height: calc(100% - 64px);
}
.uploader_view_wrapper {
  height: calc(100% - 37px);
}
.root_grid_wrapper {
  height: calc(100% - 56px);
}
.profile_grid {
  height: calc(100% - 146px);
}
.home_grid {
  grid-auto-rows: 18rem;
}
