@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255;
  --background-bg: 0, 0, 0;
  --scroll-rgb: 34, 34, 34
}

#root {
  color: rgb(var(--color-rgb));
  background-color: rgb(var(--background-bg));
}
.second-font {
  font-family: var(--second-font);
}
* {
  font-family: var(--root-font);
}

::-webkit-scrollbar, .dark {
  width: .5rem;
  height: .5rem;
  cursor: pointer;
}
::-webkit-scrollbar-track, .dark {
  background-color: transparent;
}
::-webkit-scrollbar-thumb, .dark {
  width: .5rem;
  height: .5rem;
  border-radius: 9999px;
  background-color: rgb(var(--scroll-rgb));
}

.body_wrapper {
  max-width: 100dvw;
  min-height: 100dvh;
  width: 100%;
  height: fit-content;
}
.upload_sidebar {
  height: calc(100% - 0px);
}
.content_wrapper {
  height: calc(100% - 64px);
}
.uploader_view_wrapper {
  height: calc(100% - 45px);
}
.root_grid_wrapper {
  height: calc(100% - 56px);
}
.profile_grid {
  height: calc(100% - 146px);
}
.profile_grid_mobile {
  height: calc(100% - 82px);
}
.shot_wrapper {
  min-height: calc(100dvh - 142px);
}
.home_grid {
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding-left: 20px;
  padding-right: 20px;
}

.home_grid_mini {
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

@media (min-width: 1440px) {
  .shot_wrapper {
    min-height: calc(100dvh - 120px);
  }
  .home_grid {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (min-width: 768px) {
  .home_grid {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding-left: 32px;
    padding-right: 32px;
  }

}

@media (min-width: 1600px) {
  .home_grid {
    grid-template-columns: repeat(auto-fill,minmax(336px,1fr));
    padding-left: 72px;
    padding-right: 72px;
  }

}

.preview_block_grid {
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

.last_works_grid {
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
}

.thumbnail_grid {
  grid-template-columns: repeat(auto-fill,minmax(380px,1fr));
}

.search_grid {
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}

#ambiLight {
  filter: blur(80px) opacity(0.75) saturate(300%);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.1) translateZ(0);
  width: 100%;
  z-index: -1;
  height: 100%;
}
#ambiLightv2 {
  opacity: .5;
  position: absolute;
  align-self: center;
  filter: blur(150px);
  opacity: 0.5;
  z-index: -1;
  width: 120%;
  max-width: 100vw;
}
.categories_container {
  width: calc(100% - 160px);
}