@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255;
  --background-bg: 0, 0, 0;
}
body {
  color: rgb(var(--color-rgb));
  background-color: rgb(var(--background-bg));
}
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  width: .5rem;
  height: .5rem;
  border-radius: 9999px;
  background-color: #222222;
}

.body_wrapper {
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
}

.root_grid_wrapper {
  height: calc(100% - 56px);
}