@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255;
  --background-bg: 0, 0, 0;
  --scroll-rgb: 34, 34, 34
}

#root {
  color: rgb(var(--color-rgb));
  background-color: rgb(var(--background-bg));
}

* {
  font-family: var(--root-font) !important;
}

::-webkit-scrollbar, .dark {
  width: .5rem;
  height: .5rem;
  cursor: pointer;
}
::-webkit-scrollbar-track, .dark {
  background-color: transparent;
}
::-webkit-scrollbar-thumb, .dark {
  width: .5rem;
  height: .5rem;
  border-radius: 9999px;
  background-color: rgb(var(--scroll-rgb));
}

.body_wrapper {
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
}
.upload_sidebar {
  height: calc(100% - 0px);
}
.content_wrapper {
  height: calc(100% - 64px);
}
.uploader_view_wrapper {
  height: calc(100% - 45px);
}
.root_grid_wrapper {
  height: calc(100% - 56px);
}
.profile_grid {
  height: calc(100% - 146px);
}
.profile_grid_mobile {
  height: calc(100% - 82px);
}
.home_grid {
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  grid-template-rows: repeat(auto-fill,minmax(300px,1fr));
  aspect-ratio: 4 / 3;
}

.mini_grid {
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  grid-template-rows: repeat(auto-fill,minmax(300px,1fr));
  aspect-ratio: 4 / 3;
}

.preview_grid {
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
  aspect-ratio: 4 / 3;
}

.search_grid {
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
  aspect-ratio: 4 / 3;
}

#ambiLight {
  filter: blur(80px) opacity(0.5) saturate(300%);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.1) translateZ(0);
  width: 100%;
  z-index: -1;
  height: 100%;
}